# Data analysis question
how can we determine the best price to sell the car?
- is there data on the prices of other cars and their characteristics
- what features of the cars affect prices


# Getting starting to analyze
- Check all the data types to see if it makes sense with the given column. `dataframe.dtypes`
    - ex. price of cars should not be an object data type and it should be float.
    
    
- `dataframe.describe(include='all')` gives statistical value including objects.
    - unique: unique value
    - top: most frequent value appeared
    - freq: how many times top appeard
    - NaN (Not a Number) appearing in row means the datatype is not numeric

# Data wrangling
- converting initial format into a format that is better for analysis

In [32]:
import pandas as pd
import numpy as np

In [33]:
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

df = pd.read_csv('auto.csv', names = headers)
df.head(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

# Evaluate missing data
- `df.isnull()` finds all null value
- `df.notnull()` finds all notnull value

In [34]:
missing_data = df.isnull()
missing_data.head(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

# Identify the missing values

In [35]:
df.replace("?", np.nan, inplace = True)
df.head(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

# Deal with missing data
- Drop the whole row/column (only if many values are missing)
- replace the data with mean, frequency, etc.

In [36]:
def find_null(df):
    null_count_dict = {}
    null_count = 0 # initialize null count
    for column in df:
        for row in df[column].isnull():
            if row == True:
                null_count += 1
        null_count_dict[column] = null_count
        null_count = 0 # resets the null count value
    return null_count_dict

In [37]:
find_null(df)

{'symboling': 0,
 'normalized-losses': 41,
 'make': 0,
 'fuel-type': 0,
 'aspiration': 0,
 'num-of-doors': 2,
 'body-style': 0,
 'drive-wheels': 0,
 'engine-location': 0,
 'wheel-base': 0,
 'length': 0,
 'width': 0,
 'height': 0,
 'curb-weight': 0,
 'engine-type': 0,
 'num-of-cylinders': 0,
 'engine-size': 0,
 'fuel-system': 0,
 'bore': 4,
 'stroke': 4,
 'compression-ratio': 0,
 'horsepower': 2,
 'peak-rpm': 2,
 'city-mpg': 0,
 'highway-mpg': 0,
 'price': 4}

# Replacing it with MEAN

In [38]:
df['normalized-losses'].dtype

dtype('O')

Change the datatype of `normalized-losses` to float and find its mean

In [39]:
find_null(df)

{'symboling': 0,
 'normalized-losses': 41,
 'make': 0,
 'fuel-type': 0,
 'aspiration': 0,
 'num-of-doors': 2,
 'body-style': 0,
 'drive-wheels': 0,
 'engine-location': 0,
 'wheel-base': 0,
 'length': 0,
 'width': 0,
 'height': 0,
 'curb-weight': 0,
 'engine-type': 0,
 'num-of-cylinders': 0,
 'engine-size': 0,
 'fuel-system': 0,
 'bore': 4,
 'stroke': 4,
 'compression-ratio': 0,
 'horsepower': 2,
 'peak-rpm': 2,
 'city-mpg': 0,
 'highway-mpg': 0,
 'price': 4}

In [40]:
avg_norm_loss = df['normalized-losses'].astype('float').mean(axis=0)
df["normalized-losses"].replace(np.nan, avg_norm_loss, inplace=True)

In [41]:
avg_horsepower = df['horsepower'].astype('float').mean(axis=0)
df['horsepower'].replace(np.nan, avg_horsepower, inplace=True)

In [42]:
avg_peak_rpm = round(df['peak-rpm'].astype('float').mean(axis=0))
df['peak-rpm'].replace(np.nan, avg_peak_rpm, inplace=True)

# Replacing it with Frequency
find the most frequent value and replace

In [43]:
df['num-of-doors'].value_counts()

four    114
two      89
Name: num-of-doors, dtype: int64

In [44]:
df['num-of-doors'].value_counts().idxmax() # Returns the index of the max value.

'four'

In [45]:
df["num-of-doors"].replace(np.nan, "four", inplace=True)

# Dropping the whole column
Price is the most important column out of all and if that value is empty, we will remove the whole row

In [46]:
df.dropna(subset=["price"], axis=0, inplace=True)

In [47]:
# reset index, because we droped two rows
df.reset_index(drop=True, inplace=True)

# Correcting data format
`.dtypes` to check data type

`.astype()` to change data type

In [48]:
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [49]:
df[['bore']].head()

   bore
0  3.47
1  3.47
2  2.68
3  3.19
4  3.19

In [50]:
df[['stroke']].head()

  stroke
0   2.68
1   2.68
2   3.47
3   3.40
4   3.40

In [51]:
df[['horsepower']].head()

  horsepower
0        111
1        111
2        154
3        102
4        115

In [52]:
df["horsepower"]=df["horsepower"].astype(int)

In [53]:
df[["bore", "stroke"]] = df[["bore", "stroke"]].astype("float")

In [54]:
avg_bore = df['bore'].mean(axis=0)
df['bore'].replace(np.nan, avg_bore, inplace=True)

avg_stroke = df['stroke'].mean(axis=0)
df['stroke'].replace(np.nan, avg_stroke, inplace=True)

# Data normalization
you normalize the data to use specific statisitcal/computational method to compare between datas. The transformed values will have similar range so it is easy to compare.
- X_new = X_old / X_max
- X_new = (X_old - X_min) / (X_max - X_min)

In [55]:
df['length'] = df['length']/df['length'].max()

# Binning
transforming numerical variables into object categorical bins for grouped analysis
`linspace(start_value, end_value, number_of_divider)`

In [56]:
df["horsepower"]=df["horsepower"].astype(int, copy=True)

To build 3 bins of equal size bandwidth
- include the minimum value of horsepower, set start_value = `min(df["horsepower"])`
- include the maximum value of horsepower, set end_value = `max(df["horsepower"])`
- since there is 3 equal bin, there will be 4 divider

In [57]:
bins = np.linspace(min(df["horsepower"]), max(df["horsepower"]), 4)
bins

array([ 48.        , 119.33333333, 190.66666667, 262.        ])

In [58]:
group_names = ['Low', 'Medium', 'High']

use `pd.cut` to determine what each value of horsepower belongs to

In [59]:
df['horsepower-binned'] = pd.cut(df['horsepower'], bins, labels=group_names, include_lowest=True)
df[['horsepower','horsepower-binned']].head(10)

   horsepower horsepower-binned
0         111               Low
1         111               Low
2         154            Medium
3         102               Low
4         115               Low
5         110               Low
6         110               Low
7         110               Low
8         140            Medium
9         101               Low

In [60]:
df["horsepower-binned"].value_counts()

Low       153
Medium     43
High        5
Name: horsepower-binned, dtype: int64

In [61]:
find_null(df)

{'symboling': 0,
 'normalized-losses': 0,
 'make': 0,
 'fuel-type': 0,
 'aspiration': 0,
 'num-of-doors': 0,
 'body-style': 0,
 'drive-wheels': 0,
 'engine-location': 0,
 'wheel-base': 0,
 'length': 0,
 'width': 0,
 'height': 0,
 'curb-weight': 0,
 'engine-type': 0,
 'num-of-cylinders': 0,
 'engine-size': 0,
 'fuel-system': 0,
 'bore': 0,
 'stroke': 0,
 'compression-ratio': 0,
 'horsepower': 0,
 'peak-rpm': 0,
 'city-mpg': 0,
 'highway-mpg': 0,
 'price': 0,
 'horsepower-binned': 0}

In [62]:
df.to_csv('cleaned_car_data.csv',index=False)